<div class="container-fluid"> 
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="row">
        <div class="col-md-2 d-flex align-items-stretch" *ngFor="let menu of menus" cdkDrag>
          <div class="card" style="width: 100%; min-height: 200px; margin-bottom: 20px;">            
    
            <div class="card-body flex-fill" style="text-align: center;">
              <div class="row">
                <div class="col-sm-8">
                  <h3 style="font-size: 13px;">{{menu.etiqueta}}</h3>
                </div>
                
                  <div (click)="editMenu(mymodal,menu.id)" class="col-sm-1" style="cursor: pointer;"> <i class="fas fa-pencil-alt fa-xs" ></i></div>
                  <div (click)="borrarMenu(mymodal,menu.id)" class="col-sm-1" style="cursor: pointer;"><i class="fas fa-trash-alt fa-xs" ></i></div>
                  
              </div>
        
              <p class="card-text"><span style="color: rgb(111, 105, 105);">
                <i class="{{ menu.icono }} fa-4x"></i>
              </span></p>
              <p class="card-text truncate" style="font-size: 11px; color: gray; padding-left: 8px; padding-right: 8px;">{{ menu.leyenda }}</p>
            </div>
            <div class="card-footer" *ngIf="menu.url!=undefined && menu.url!=''">
              <a href="#" ><div class="truncate">{{ menu.url }}</div> </a>
            </div>
          </div>
          
        </div>    

        <div class="col-sm-2">
          <div class="card" style="min-width: 100%; width: 100%;">
            
    
            <div class="card-body" style="text-align: center;  min-height: 200px;">
              <div (click)="crearMenu(mymodal)" style="cursor: pointer;"> <span style="color: rgb(111, 105, 105);">
                <i class="fas fa-plus-circle fa-6x" ></i>
              </span> <br><p>Adicionar Menu</p></div>
            </div>
           
          </div>
        </div> 
      </div>      
  </div>    
</div>

    
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ scenario }} Menu</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form_menu" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="etiqueta" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="etiqueta" [formControlName]="'etiqueta'" placeholder="Ingrese el nombre" maxlength="50" required>

            <div *ngIf="form_menu.controls['etiqueta'].invalid && (form_menu.controls['etiqueta'].dirty || form_menu.controls['etiqueta'].touched)" class="alert alert-danger form-danger" role="alert">

              <div *ngIf="form_menu.controls['etiqueta'].errors?.required">
                  Nombre no puede estar vacio.
              </div>
            </div>
           
          </div>
          <div class="mb-3">
            <label for="icono" class="form-label">Icono <i class="{{ form_menu.getRawValue().icono }}"></i></label>

            <select class="form-select" size="5" id="icono" [formControlName]="'icono'" placeholder="Ingrese el icono" required>

              <option  *ngFor="let icon of iconos" [value]="icon" > {{icon}}</option>
            </select>


          
            <div *ngIf="form_menu.controls['icono'].invalid && (form_menu.controls['icono'].dirty || form_menu.controls['icono'].touched)" class="alert alert-danger form-danger" role="alert">

              <div *ngIf="form_menu.controls['icono'].errors?.required">
                  Icono no puede estar vacio.
              </div>
            </div>

            
          </div>

         
          
          <div class="mb-3">
            <label for="leyenda" class="form-label">Descripción</label>
            <textarea  class="form-control" id="leyenda" [formControlName]="'leyenda'" placeholder="Ingrese la descripción" required maxlength="255" rows="3"></textarea>
            <div *ngIf="form_menu.controls['leyenda'].invalid && (form_menu.controls['leyenda'].dirty || form_menu.controls['leyenda'].touched)" class="alert alert-danger form-danger" role="alert">

              <div *ngIf="form_menu.controls['leyenda'].errors?.required">
                Descripción no puede estar vacio.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="url" class="form-label">Url</label>
            <input type="text" class="form-control" id="url" [formControlName]="'url'" placeholder="Ingrese la Url" required>
            <div *ngIf="form_menu.controls['url'].invalid && (form_menu.controls['url'].dirty || form_menu.controls['leyenda'].touched)" class="alert alert-danger form-danger" role="alert">

              <div *ngIf="form_menu.controls['url'].errors?.required">
                Url no puede estar vacio.
              </div>
            </div>
          </div>
          <div class="d-grid gap-2">
              <button type="submit" [disabled]="!form_menu.valid" class="btn btn-primary custom-submit-button">Guardar</button>
          </div>
          
        </form>
      </div>
      
    </ng-template>