
<nav class="navbar navbar-expand-lg navbar-light hide-download" style="background-color: transparent;">
    <div class="container-fluid">
      <a class="navbar-brand">Exportaciones de {{  (this.stringFormat( this.departamento?.departamento)!=null && this.stringFormat( this.departamento?.departamento)!='') ? this.stringFormat( this.departamento?.departamento) :'Santander' }} ({{ this.stringFormat( this.periodo?.nombrePeriodo) }}) con fecha de corte :  {{  this.meses[this.mesCorte-1]+' de '+ this.yearmax }}</a>
      <div *ngIf="loading">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span>&nbsp; Consultando Información...</span>
      </div>
      <form class="d-flex" (submit)="getGraph()" *ngIf="!loading">
     
         
            <select name="periodoID"  [(ngModel)]="filterFormodel.periodoID" placeholder="Periodo" class="form-select form-control form-control-sm me-2" #periodoSelect (change)="onChangePeriodo($event)" required>
              <option value="" selected>Seleccione Periodo</option>
              <option *ngFor="let objeto of periodos" [ngValue]="objeto.id">{{objeto.nombrePeriodo}}</option>
            </select>

            <select name="anioConsulta" *ngIf="filterFormodel.periodoID!=6"[(ngModel)]="filterFormodel.anioConsulta" placeholder="año" class="form-select form-control form-control-sm me-2" #anioSelect required>
                <option value="" selected>Seleccione Año</option>
                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
              </select>
      
            <select name="extraPeriodo" *ngIf="(filterFormodel.periodoID==2 || filterFormodel.periodoID==3 || filterFormodel.periodoID==4)"  [(ngModel)]="filterFormodel.extraPeriodo" placeholder="Periodo" class="form-select form-control form-control-sm me-2" [required]="(filterFormodel.periodoID==2 || filterFormodel.periodoID==3 || filterFormodel.periodoID==4)">
                <option value="" selected>Seleccione ..</option>
                <option *ngFor="let objetoExtra of _periodosExtra" [ngValue]="objetoExtra.numero">{{objetoExtra.nombrePeriodoExtra}}</option>
              </select>
      
            <select name="departamentoID"  [(ngModel)]="filterFormodel.departamentoID" placeholder="departamento" class="form-select form-control form-control-sm me-2">
              <option value="0" selected>Seleccione Departamento</option>
              <option *ngFor="let objeto of departamentos" [ngValue]="objeto.id">{{objeto.departamento}}</option>
            </select>
         
          
  

            <button type="submit" class="btn " style="border: 0px; background-color:transparent;"><i class="fa fa-search" aria-hidden="true" style="color: black;"></i></button>
   
            <button type="submit" class="btn " style="border: 0px; background-color:transparent;" (click)="printPage()"><i class="fa fa-print" aria-hidden="true" style="color: black;"></i></button>
  
       
      
      </form>
      
    </div>
  </nav>
<div class="container-fluid">
    <!-- <div id="pdfTable" #pdfTable>
        
    </div> -->
    
    <div class="row">
        <div class="col-md-6" id="pdfTable" #pdfTable>
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="card-title">Resultados Generales</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Exportaciones totales</h6>
                        </div>                         
                    </div>
                    <br>

                    <div id="chart" *ngIf="this.resultadosGeneralesDto!=null">
                        <div class="row card-body">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-globe-americas fa-2x" style="color:blue;"></i>
                            </div>      
                            <div class="col-sm-8">
                                Paises destino
                            </div>   
                            <div class="col-sm-2">
                                {{ ((this.resultadosGeneralesDto?.paisesDestino != undefined) ? this.resultadosGeneralesDto?.paisesDestino: 0) | formatoNumeroPipe}}
                            </div>                    
                        </div>
    
                        <div class="row card-body">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-money-bill-alt fa-2x" style="color:rgb(243, 93, 93);"></i>
                            </div>      
                            <div class="col-sm-8">
                                Pocisiones Arancelarias
                            </div>   
                            <div class="col-sm-2">
                                {{ ((this.resultadosGeneralesDto?.posicionesArancelarias != undefined) ? this.resultadosGeneralesDto?.posicionesArancelarias: 0) | formatoNumeroPipe}}
                            </div>                    
                        </div>
    
    
                        <div class="row card-body">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-balance-scale fa-2x" style="color:rgb(98, 6, 174);"></i>
                            </div>      
                            <div class="col-sm-8">
                                Peso neto (Miles de Toneladas)
                            </div>   
                            <div class="col-sm-2">
                                {{ ((this.resultadosGeneralesDto?.pesoNeto != undefined) ? this.resultadosGeneralesDto?.pesoNeto: 0) | formatoNumeroPipe}}
                            </div>                    
                        </div>
    
                        <div class="row card-body">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-building fa-2x" style="color:rgb(4, 179, 155);"></i>
                            </div>      
                            <div class="col-sm-8">
                                Número de empresas
                            </div>   
                            <div class="col-sm-2">
                                {{ ((this.resultadosGeneralesDto?.numEmpresas != undefined) ? this.resultadosGeneralesDto?.numEmpresas: 0) | formatoNumeroPipe}}                        </div>                    
                        </div>
                    </div>                    
            
                    <div *ngIf="this.resultadosGeneralesDto==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span>&nbsp; Consultando Información...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="padding: 25px; padding-right: 20;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Balance</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Exportaciones totales</h6>
                        </div>
                    
                      <div (click)="open(content,'Balance',1)" class="col-sm-1 hide-download" style="cursor: pointer; text-align: end;"> <i class="fas fa-cogs fa-2x"></i></div>
            
                      
                    </div>

                    <br>

                    <div id="chart" *ngIf="this.balanceDto!=null">
                        <div class="row card-body2">                 
                            <div class="col-sm-8">
                                Variación frente a 2020
                            </div>   
                            <div class="col-sm-4" style="text-align: end;">
                                <span><i class="fas fa-plus" style="color: rgb(14, 199, 60);"></i> {{ ((this.balanceDto?.variacion != undefined) ? this.balanceDto?.variacion: 0) | formatoNumeroPipe}}</span>
                            </div>                    
                        </div>
    
                        <div class="row card-body2">                 
                            <div class="col-sm-8">
                                Participación en Exportaciones de Colombia
                            </div>   
                            <div class="col-sm-4" style="text-align: end;">
                                <span> {{ ((this.balanceDto?.participacionExpo != undefined) ? this.balanceDto?.participacionExpo+'%': 0+'%') | formatoNumeroPipe}}</span>
                            </div>                    
                        </div>
    
    
                        <div class="row card-body2">                 
                            <div class="col-sm-8">
                                Ranking en Colombia
                            </div>   
                            <div class="col-sm-4" style="text-align: end;">                          
                                <span><i class="fas fa-arrow-alt-circle-up" style="color: rgb(14, 199, 60);"></i> {{ ((this.balanceDto?.ranking != undefined) ? this.balanceDto?.ranking: 0) | formatoNumeroPipe}}</span>
                            </div>                    
                        </div>
    
                        <div class="row card-body2">                 
                            <div class="col-sm-8">
                                Número de empresas
                            </div>   
                            <div class="col-sm-4" style="text-align: end;">
                                <span> {{ ((this.balanceDto?.numeroEmpresas != undefined) ? this.balanceDto?.numeroEmpresas: 0) | formatoNumeroPipe}}</span>
                            </div>                    
                        </div>
                    </div>
                    

                    <div *ngIf="this.balanceDto==null">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span>&nbsp; Consultando Información...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="pagebreak"> </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Ranking nacional de exportaciones</h5>
                           
                        </div>
                    
                      <div (click)="open(content, 'Ranking nacional de exportaciones', 1)" class="col-sm-1 hide-download" style="cursor: pointer; text-align: end; padding-left: 90px;"> <i class="fas fa-cogs fa-2x"></i></div>
            
                      
                    </div>

                    <br>
                    <div id="chart" *ngIf="this.rankings!=null">
                        <div class="row card-body4">                 
                            <div class="col-sm-12 print3">
                                <div id="chart">
                                    <apx-chart
                                      [series]="chartOptions.series"
                                      [chart]="chartOptions.chart"
                                      [plotOptions]="chartOptions.plotOptions"
                                      [xaxis]="chartOptions.xaxis"
                                      [markers]="chartOptions.markers"
                                      [stroke]="chartOptions.stroke"
                                      [yaxis]="chartOptions.yaxis"
                                      [colors]="chartOptions.colors"
                                      [grid]="chartOptions.grid"
                                      [dataLabels]="chartOptions.dataLabels"
                                      [title]="chartOptions.title"
                                      [fill]="chartOptions.fill"
                                      [tooltip]="chartOptions.tooltip"
                                      [legend]="chartOptions.legend"
                                    ></apx-chart>
                                  </div>
                            </div>                                          
                        </div>
                      
                        <div class="row">                 
                            <div class="col-sm-3">
                                <div class="centerv">
                                    Ranking entre {{ this.count_ranking }}:
                                    <br><h2><i class="fas fa-star"></i> {{ this.rank_dep?.rank }}</h2>
                                </div>                            
                            </div>   
                            <div class="col-sm-4">
                                <div class="row card-body3">
                                    <div class="col"> 
                                        <div style="background-color: #b4d4fc; padding: 6px; min-height: 70px;">
                                            Distancia al primero en el ranking _(Millones USD/FOB): {{ this.rank_one?.fobdolares-this.rank_dep?.fobdolares | formatoNumeroPipe }}
                                        </div>                                                                    
                                    </div>
                                </div>
                                <div class="row card-body3">
                                    <div class="col">
                                        <div style="background-color: #b4d4fc; padding: 6px; min-height: 70px;">
                                            Distancia al primero en el ranking _(%): {{ (this.rank_one?.fobdolares*100/this.rank_dep?.fobdolares).toFixed(2)+'%' | formatoNumeroPipe }}
                                        </div> 
                                    </div>
                                </div>
                            </div>   
                            <div class="col-sm-5">
                                <div class="row card-body3">
                                    <div class="col">{{  (this.stringFormat( this.departamento?.departamento)!=null && this.stringFormat( this.departamento?.departamento)!='') ? this.stringFormat( this.departamento?.departamento) :'Santander' }} tendía que haber exportado {{ this.rank_one?.fobdolares-this.rank_dep?.fobdolares | formatoNumeroPipe }} millones 'USD/FOB adicionales en el periodo para haber alcanzado las exportaciones de {{ this.rank_one?.departament }} (Mayor exportador)</div>
                                </div>
                                <div class="row card-body3">
                                    <div class="col">El valor de las exportaciones de {{ (this.stringFormat( this.departamento?.departamento)!=null && this.stringFormat( this.departamento?.departamento)!='') ? this.stringFormat( this.departamento?.departamento) :'Santander' }} tendía que haber sido {{ (this.rank_one?.fobdolares*100/this.rank_dep?.fobdolares).toFixed(2)+'%' | formatoNumeroPipe }} mas altas en el periodo para haber alcanzado las exportaciones en {{ this.rank_one?.departament }} (Mayor exportador)</div>
                                </div>
                            </div>                  
                        </div>
                    </div>

                    <div *ngIf="this.rankings==null">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span>&nbsp; Consultando Información...</span>
                    </div>
                    

                </div>
            </div>
        </div>        
    </div>
    <br>
    <div class="pagebreak"> </div>
    <div class="row">
        <div class="col-md-6 test">
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Exportaciones</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Millones USD/FOB</h6>
                        </div>
                  
                        <div (click)="open(content, 'Exportaciones', 2)" class="col-sm-1 hide-download" style="cursor: pointer;  text-align: end;"> <i class="fas fa-cogs fa-2x"></i></div>
                              
            
                      
                    </div>

                    <br>

                    <div class="row card-body4">                 
                        <div class="col-sm-12">
                            <div id="chart" *ngIf="this.fobDepartamentos!=null">
                                <apx-chart
                                    [series]="chartOptions3.series"
                                    [chart]="chartOptions3.chart"
                                    [dataLabels]="chartOptions3.dataLabels"
                                    [plotOptions]="chartOptions3.plotOptions"
                                    [responsive]="chartOptions3.responsive"
                                    [xaxis]="chartOptions3.xaxis"
                                    [yaxis]="chartOptions3.yaxis"
                                    [legend]="chartOptions3.legend"
                                    [tooltip]="chartOptions3.tooltip"
                                    [fill]="chartOptions3.fill"
                                ></apx-chart>
                            </div>
                            <div *ngIf="this.fobDepartamentos==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                            </div>
                        </div>                                          
                    </div>
                  
                    

                </div>
            </div>
        </div>   
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Peso neto export</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Toneladas</h6>
                        </div>
                    
                      <div (click)="open(content, 'Peso neto export', 2)" class="col-sm-1 hide-download" style="cursor: pointer;  text-align: end;"> <i class="fas fa-cogs fa-2x"></i></div>
            
                      
                    </div>

                    <br>

                    <div class="row card-body4">                 
                        <div class="col-sm-12">
                            <div id="chart" *ngIf="this.kilosNetos!=null">
                                <apx-chart
                                [series]="chartOptions2.series"
                                [chart]="chartOptions2.chart"
                                [xaxis]="chartOptions2.xaxis"
                                [markers]="chartOptions2.markers"
                                [stroke]="chartOptions2.stroke"
                                [yaxis]="chartOptions2.yaxis"
                                [dataLabels]="chartOptions2.dataLabels"
                                [title]="chartOptions2.title"
                                [fill]="chartOptions2.fill"
                                [tooltip]="chartOptions2.tooltip"
                                [legend]="chartOptions2.legend"
                                ></apx-chart>
                            </div>
                            <div *ngIf="this.kilosNetos==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                              </div>
                        </div>                                          
                    </div>
                  
                    

                </div>
            </div>
        </div>      
    </div>
    <br>
    <div class="pagebreak"> </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Productos Exportados</h5>
                           
                        </div>
                    
                      <div (click)="open(content, 'Productos Exportados',3)" class="col-sm-1 hide-download" style="cursor: pointer;  text-align: end; padding-left: 90px;"> <i class="fas fa-cogs fa-2x"></i></div>
            
                      
                    </div>

                    <br>

                    <div class="row card-body4">                 
                        <div class="col-sm-6 print2" style="border-right: 1px solid #c3c0c0;">
                            <div id="chart" *ngIf="this.capitulosArancelariosDept!=null">
                            <apx-chart
                            [series]="chartOptions4.series"
                            [chart]="chartOptions4.chart"
                            [xaxis]="chartOptions4.xaxis"
                            [stroke]="chartOptions4.stroke"
                            [tooltip]="chartOptions4.tooltip"
                            [dataLabels]="chartOptions4.dataLabels"
                            [legend]="chartOptions4.legend"
                            [markers]="chartOptions4.markers"
                            [grid]="chartOptions4.grid"
                            [yaxis]="chartOptions4.yaxis"
                            [title]="chartOptions4.title"
                            [labels]="chartOptions4.labels"
                            [plotOptions]="chartOptions4.plotOptions"
                          ></apx-chart>
                          </div>
                          <div *ngIf="this.capitulosArancelariosDept==null">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span>&nbsp; Consultando Información...</span>
                          </div>
                          
                              
                        </div>      
                        
                        <!-- <div class="col-sm-4" style="border-right: 1px solid #c3c0c0;">
                          
                            <apx-chart
                                [series]="chartOptions5.series"
                                [chart]="chartOptions5.chart"
                                [labels]="chartOptions5.labels"
                                [fill]="chartOptions5.fill"
                                [stroke]="chartOptions5.stroke"
                                [responsive]="chartOptions5.responsive"
                            ></apx-chart>
                              
                        </div>   -->

                        <div class="col-sm-6 print2">
                            <div id="chart" *ngIf="this.intensidadTecno!=null">
                            <apx-chart
                                [series]="chartOptions6.series"
                                [chart]="chartOptions6.chart"
                                [xaxis]="chartOptions6.xaxis"
                                [stroke]="chartOptions6.stroke"
                                [dataLabels]="chartOptions6.dataLabels"
                                [yaxis]="chartOptions6.yaxis"
                                [labels]="chartOptions6.labels"
                                [legend]="chartOptions6.legend"
                                [title]="chartOptions6.title"
                                [subtitle]="chartOptions6.subtitle"
                                [tooltip]="chartOptions6.tooltip"
                                [plotOptions]="chartOptions6.plotOptions"
                            ></apx-chart>
                            </div>
                            <div *ngIf="this.intensidadTecno==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                              </div>
                              
                        </div>                   
                    </div>
                  
                 
                    

                </div>
            </div>
        </div>        
    </div>
    <br>
    <div class="pagebreak"> </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 25px;">
                  
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">Productos Exportados</h5>
                           
                        </div>
                    
                      <div (click)="open(content, 'Productos Exportados',4)" class="col-sm-1 hide-download" style="cursor: pointer;  text-align: end; padding-left: 90px;"> <i class="fas fa-cogs fa-2x"></i></div>
            
                      
                    </div>

                    <br>

                    <div class="row card-body4">                 
                        <div class="col-sm-4 print1" style="border-right: 1px solid #c3c0c0;">
                            <div id="chart" *ngIf="this.paises!=null">
                            <apx-chart
                                [series]="chartOptions7.series"
                                [chart]="chartOptions7.chart"
                                [plotOptions]="chartOptions7.plotOptions"
                                [labels]="chartOptions7.labels"
                                [title]="chartOptions7.title"
                                
                            ></apx-chart>
                            </div>
                            <div *ngIf="this.paises==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                              </div>
                              
                        </div>      
                        
                        <div class="col-sm-4 print1" style="border-right: 1px solid #c3c0c0;">
                            <div id="chart" *ngIf="this.bloquesGeoDept!=null">
                            <apx-chart
                                [series]="chartOptions8.series"
                                [chart]="chartOptions8.chart"
                                [labels]="chartOptions8.labels"
                                [responsive]="chartOptions8.responsive"
                                [title]="chartOptions8.title"
                                [tooltip]="chartOptions8.tooltip"
                                [plotOptions]="chartOptions8.plotOptions"
                            ></apx-chart>
                            </div>
                            <div *ngIf="this.bloquesGeoDept==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                              </div>
                              
                        </div>  

                        <div class="col-sm-4 print2">
                            <div id="chart" *ngIf="this.acuerdosComerciales!=null">
                            <apx-chart
                                [series]="chartOptions9.series"
                                [chart]="chartOptions9.chart"
                                [dataLabels]="chartOptions9.dataLabels"
                                [plotOptions]="chartOptions9.plotOptions"
                                [yaxis]="chartOptions9.yaxis"
                                [xaxis]="chartOptions9.xaxis"
                                [fill]="chartOptions9.fill"
                                [title]="chartOptions9.title"
                                [tooltip]="chartOptions9.tooltip"
                            ></apx-chart>
                            </div>
                            <div *ngIf="this.acuerdosComerciales==null">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span>&nbsp; Consultando Información...</span>
                              </div>
                              
                        </div>                   
                    </div>
                  
                 
                    

                </div>
            </div>
        </div>        
    </div>
   
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Filtrar Grafica: {{ modalHeader }}</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="dateOfBirth">Categoria</label>
              <div class="input-group">

                <select name="categoriaID"  [(ngModel)]="filterFormodelGraph.categoriaID" placeholder="categoria" class="form-control form-control-sm">
                    <option value="0" selected>Seleccione Categoria</option>
                    <option *ngFor="let objeto of categorias" [ngValue]="objeto.id">{{objeto.nombreCategoria}}</option>
                </select>               
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="filterGraph(this._graficaConsulta)">Consultar</button>
        </div>
      </ng-template>

   
</div>





