
<div class="container-fluid"> 
    <div>
        <div class="row">
          <div class="col-md-2 d-flex align-items-stretch" *ngFor="let menu of menus">
            <div class="card" style="width: 100%; min-height: 100px; margin-bottom: 20px;">            
      
              <div class="card-body flex-fill" style="text-align: center;">
                <div class="row">
                  <div class="col-sm-12">
                    <h3 style="font-size: 13px;">{{menu.etiqueta}}</h3>
                  </div>                    
                </div>
          
                <p class="card-text"><span style="color: rgb(111, 105, 105);">
                  
                  <a routerLink="{{ menu.url }}" routerLinkActive="active" style="color: #7c7c7c !important;" data-bs-toggle="collapse" data-bs-target="#collapseExample"><i class="{{ menu.icono }} fa-4x"></i></a>
                </span></p>
                <p class="card-text truncate" style="font-size: 11px; color: gray; padding-left: 8px; padding-right: 8px;">{{ menu.leyenda }}</p>
              </div>
              <!-- <div class="card-footer" *ngIf="menu.url!=undefined && menu.url!=''">
                <a routerLink="/custom/dragdrop" routerLinkActive="active"><div class="truncate">{{ menu.url }}</div> </a>
              </div> -->
            </div>
            
          </div>    
  
        
        </div>      
    </div>    
  </div>
  
      
      